@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgb(136, 109, 93);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: rgb(119, 119, 57);
    text-align: center;
    text-shadow: 1px 1px 2px rgb(82, 82, 39);
} 

h2 {
    color: rgb(78, 72, 62);
}

p {
    text-align: justify;
}